{% extends 'core/base.html' %}
{% block content %}
{% include 'store/includes/menu_store.html' %}

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Nuestros libros</h1>
            <p class="lead fw-normal text-muted mb-0">libros disponibles</p>
        </div>
        <div class="row gx-5">
            {% for libro in store_list %}
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <!-- https://dummyimage.com/600x400/343a40/6c757d  -->
                    <img class="img-fluid rounded-3 mb-3" src="https://picsum.photos/id/24/600/400" alt="..." /> 
                    <!-- libro.title|slugify  -->
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="{% url 'libros:libro' libro.id %}"> {{libro.title}} </a>
                </div>
                <a class="btn btn-success" onclick="agregaCarrito({{libro.id}});">Agregar al carrito</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <h2 class="display-4 fw-bolder mb-4">¡Construyamos algo juntos!</h2>
        <a class="btn btn-lg btn-primary" href="{% url 'contact' %}">Contáctanos</a>
    </div>
</section>
{% endblock %}

{% block contentJS %}
<script>
    function agregaCarrito(id) {
        if (cart[id] != undefined) {
            cart[id] = cart[id] + 1;
        } else {
            cart[id] = 1
        }
        localStorage.setItem('cart', JSON.stringify(cart))
        show_badge_cart();
    }
</script>
{% endblock %}